env:
  global:
      - RACK_ENV=test
      - ENV=test
      - MONGO_URL=mongodb://mongo:27017/guardian-specs
      - STUB_USER=travis
      - STUB_PASS=travis123
      - STUB_WORLD=brp4
      - TZ=America/Sao_Paulo
      - CC_TEST_REPORTER_ID=eb32be7afe8adcd1513d01d47bcb0ade2fd870bd9ee735b6f5077fa88a09b88b
language: ruby
rvm:
  - 2.5.5
jobs:
  include:
    - stage: test
      before_script:
        - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
        - chmod +x ./cc-test-reporter
        - ./cc-test-reporter before-build
      script: bundle exec rspec spec
      after_script:
        - bundle exec rake coveralls:push
        - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
stages:
  - test
cache: bundler
services:
  - mongodb