<style>
  html,
  body {
    height: 100%;
  }

  body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
</style>

<div class="container text-center">
    <h1 class="h3 mb-3 font-weight-normal">Please select a world:</h1>
  <%
    worlds = @main_account.worlds
    worlds.each_with_index do |world,index|
  %>
    <form action="/" method="POST">
      <input type="hidden" name="world" value="<%= world["server_name"] %>" />
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-light btn-lg btn-block" alt="test">
          <%= world["name"] %>
          <%= world["active"] == "1" ? "(has account)" : '' %>
          <%= world["pre_reg"] != "0" && world["best"] != true ? "(pre-registration)" : '' %>
        </button>
        </div> 
      </div>
    </form>
  <%   if index != worlds.size - 1
   %><hr/><%
  end %>

  <% end %>
</div>