/.bundle

# rails
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# others
.env
coverage
docker/production/ssh/id_rsa
docker/production/ssh/id_rsa.pub
docker/production/ssh/secrets.tar
config/application.yml
